* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #8f8681;
}

.container {
  height: 300px;
  width: 80vw;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  overflow: scroll;
  gap: 20px;
  align-items: center;
  background: #e1dcd9;
  /* background-size: ; */
}

.container .container__item {
  height: 100%;
  width: 170px;
  background: #a67f78;
  flex-shrink: 0;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  padding: 10px;
}

.container .container__item.hovered {
  width: 510px;
}

.container .container__item p {
  background-color: rgba(0, 0, 0, 0.385);
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  align-self: flex-end;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
